<h1> Welcome to Puppy House!</h1>

<img src="/images/doge.jpg" width="360px" height="360px">

<p> We showcase randomly generated puppies with their names and breed! </p>

<form method="get" action="/puppies">
    <button type="submit">See All Our Puppies</button>
</form>
