<img src="/images/doge.jpg" width="360px" height="360px">

<br/> 

<h4>Name: <%= @puppy.name %> </h4>

<h4>Breed: <%= @puppy.breed %> </h4>

<form method="get" action="/puppies">
    <button type="submit">Return To Home</button>
</form>

<form method="get" action="/puppies/<%= @puppy.id%>/edit">
    <button type="submit">Update Info For This Puppy</button>
</form>

<form action="/puppies/<%= @puppy.id%>" method="post">
<input type="hidden" name="_method" value="delete" />

<input type="submit" value="Remove This Puppy">

</form>